.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #abfe2c;
  margin-top: 5rem;
  flex-direction: row;
}
.about {
  /* height: 50vh; */
  flex: 1 1 0;
}
.about__image {
  float: left;
  flex: 1 1 0;
}
