.courserecord__container {
  background-color: #abfe2c;
  height: 30vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 1rem;
}
.record__logo {
  object-fit: contain;
  width: 8vw;
  height: 15vh;
  float: left;
}
.name__conatiner {
  float: left;
}
.course {
  cursor: pointer;
}
